<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: head"></head>

<body>

<!-- Modal to add routes -->
<div class="modal fade" id="addRouteModal" tabindex="-1" aria-labelledby="addRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRouteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                test text
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div th:replace="fragments/general.html :: titleRow"></div>

    <div class="row align-items-center">

        <div class="col-sm-3">

        </div>

        <div class="col-sm-6">
            <h3>View and update your account details</h3>
            <div th:if="${alert.show}" class="alert alert-warning" role="alert" th:text="${alert.text}">
                This is a success alert—check it out!
            </div>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn btn-outline-primary btn-lg" onclick="window.location.href='/dashboard/';">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-stacked" viewBox="0 0 16 16">
                    <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3z"/>
                </svg>
                My dashboard
            </button>
        </div>
    </div>

    <div class="row align-items-start">

        <div class="col-sm-3">

            <a href="/myroutes/"><h3>My routes</h3></a>

            <hr>

            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#addRouteForm" aria-expanded="false" aria-controls="addRouteForm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="collapse" id="addRouteForm">

                        <form method="post" th:action="@{/mytrips/add-route}" th:object="${route}">

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="startLocation">Start</span>
                                <input type="text" class="form-control" placeholder="location of the route"
                                       aria-label="startLocation" aria-describedby="startLocation" name="startLocation">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="endLocation">End</span>
                                <input type="text" class="form-control" placeholder="location of the route"
                                       aria-label="endLocation" aria-describedby="endLocation" name="endLocation">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Distance</span>
                                <input type="number" class="form-control" aria-label="Distance of the route in km" name="distanceInKm" step="1" onchange="this.value = parseInt(this.value);">
                                <span class="input-group-text" id="distanceInKm">km</span>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="card" th:each="route: ${user.routes}">
                <div class="card-body">
                    <span th:text="${route.decriptionString()}"></span>
                    <span class="badge rounded-pill bg-info text-dark" th:text="${route.distanceInKm}"></span>
                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <h3>Your latest business trips</h3>
            <hr>

            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#addTripForm" aria-expanded="false" aria-controls="addTripForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="collapse" id="addTripForm">

                        <form th:action="@{/mytrips/add-trip}" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="startDateTime-addon1">Start</span>
                                </div>
                                <input type="datetime-local" class="form-control" placeholder="Date & Time of your trip"
                                       aria-label="startDateTime" aria-describedby="startDateTime-addon1" name="startDate">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="endDateTime-addon1">End</span>
                                </div>
                                <input type="datetime-local" class="form-control" placeholder="Date & Time of your trip"
                                       aria-label="endDateTime" aria-describedby="endDateTime-addon1" name="endDate">
                            </div>

                            <button class="btn btn-secondary btn-block" type="submit" >Add</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="card" th:each="trip, tripIndex: ${user.trips}">
                <div class="card-header">

                    <div class="row">
                        <div class="col-sm-11">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary float-end"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        th:attr="data-bs-target='#trip' + ${trip.id}, aria-controls='trip' + ${trip.id}"
                                        aria-expanded="false"
                                        th:text="${trip.getDescriptionString()}"></button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="d-grid gap-2">
                                <form th:action="@{/mytrips/delete-trip}">
                                    <input type="number" name="tripId" th:value="${trip.id}" hidden>
                                    <button type="button" class="btn btn-outline-light">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="card-body">

                    <div th:id="'trip' + ${trip.id}" th:attr="class=${tripIndex.first ? 'collapse show' : 'collapse'}">

                        <form th:action="@{/mytrips/update-startDate}" method="post">
                            <input type="number" name="tripId" th:value="${trip.id}" hidden>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Start </span>
                                <input type="datetime-local" class="form-control" th:value="${trip.startDateTime}"
                                       aria-label="startDateTime" aria-describedby="startDateTime">
                                <button class="btn btn-outline-secondary" type="submit" id="button-edit-startDateTime">
                                    save
                                </button>
                            </div>
                        </form>

                        <form th:action="@{/mytrips/update-endDate}" method="post">
                            <input type="number" name="tripId" th:value="${trip.id}" hidden>

                            <div class="input-group mb-3">
                                <span class="input-group-text">End </span>
                                <input type="datetime-local" class="form-control" th:value="${trip.endDateTime}"
                                       aria-label="endDateTime" aria-describedby="endDateTime">
                                <button class="btn btn-outline-secondary" type="submit" id="button-edit-endDateTime">
                                    save
                                </button>
                            </div>
                        </form>

                        <hr>

                        <p>Routes</p>

                        <div th:each="route, iStat: ${trip.routes}">
                            <form th:action="@{/mytrips/remove-route}" method="post">

                                <input type="number" name="tripId" th:value="${trip.id}" hidden>
                                <input type="number" name="routeId" th:value="${route.id}" hidden>

                                <div class="input-group mb-3">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text" th:text="'Route ' + ${iStat.index + 1} + ': '"></span>
                                    </div>

                                    <input type="text" th:value="${route.decriptionString()}" readonly class="form-control">

                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <form th:action="@{/mytrips/add-route-to-trip}" method="post">

                            <!-- dropdown/select to add routes to this trip -->
                            <input type="text" th:value="${trip.id}" name="tripId" hidden>
                            <div class="input-group mb-6">
                                <span class="input-group-text" id="basic-addon1">Route: </span>
                                <select class="custom-select form-control" id="inputGroupSelect" name="routeId">
                                    <option selected>Choose a route to add to this trip!</option>
                                    <option th:each="route: ${user.routes}"
                                            th:value="${route.id}"
                                            th:text="${route.decriptionString()}">One</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            type="submit">Add</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-3">


            </div>

        </div>

</div>

<!--bootstrap and popper scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>